body {
  background-color: #eee;
}

img {
  width: 100%;
}

header {
  background-color: #4c2676;
  color: #fff;
  position: relative;
}

.overlay.on {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
}

.overlay.off {
  display: none;
}

.modal {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.5em;
  position: fixed;
}

.space-row {
  display: flex;
  justify-content: space-between;
}

.modal-text {
  padding-bottom: 1.5rem;
}

.cancel {
  background-color: #b6b6b6;
  color: #292929;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
}

.confirm {
  background-color: #dc2627;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.6rem;
}

.heading {
  padding: 0 12px;
}

.row > input {
  width: 100%;
  height: 2rem;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 0 0.75rem;
}

.row {
  margin-bottom: 1rem;
}

.save {
  margin-left: auto;
  background-color: #4c2676;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  padding: 0.25rem 0.5rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

textarea {
  width: 100%;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  padding: 0.75rem;
}

ul,
li {
  padding: 0.5rem;
}

a {
  align-self: center;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
  border: none;
}

.split-row {
  display: flex;
  justify-content: space-between;
  padding-right: 12px;
}

.new {
  height: 2rem;
  align-self: center;
  color: #fff;
  font-size: 1.25rem;
  background-color: #4c2676;
  border-radius: 4px;
  padding: 0 0.75rem;
  cursor: pointer;
  border: none;
}

.fa-pencil {
  align-self: center;
  color: #4c2676;
  cursor: pointer;
}

a.delete {
  color: #dc2627;
  text-decoration: underline;
}
